<header class="header">
  <div class="container_header_title">
    <h3 class="header_title">La forma fácil y cómoda de comprar neumáticos <span class="header_icon">icono de
        carrito</span></h3>
  </div>
  <div class="container_header_images">
    <img (click)="returnToHome()" src="../../../assets/images/logo.svg" alt="" class="header_image_logo">
    <div class="container_header_images_info">
      <img src="../../../assets/images/phoneCapture.png" alt="" class="header_image_phone">
      <div>
        <span (click)="getShoppingCart()" class="material-icons-outlined spanShoppingCartIcon">
          shopping_cart
        </span>
      </div>
    </div>
  </div>
</header>